<section>
  <h1 class='head'>Inventory: <%= @inventory.name %> <%= @inventory.id %> </h1>  

  <br />
  <div class='button_container'>
    <%= link_to 'Add Food Quantity', new_inventory_inventory_food_path(@inventory), class:'button' %>
  </div>
  <hr>

  <br />

  <div class='inv_food_cont'>
    <ul class='inv_food_head'>
      <li class='inv_food_lis'>Date</li>
      <li class='inv_food_lis'>Food</li>
      <li class='inv_food_lis'>Quantity</li>
      <li class='inv_food_lis'>Actions</li>
    </ul>
    <% @inventory_foods.each do |inventory| %>  
      <%= render partial: 'partials/inventory_food', locals: { inventory:inventory } %> 
    <% end %>
  </div>

  <br />
  <%= link_to 'Back', inventories_path %>
</section>