<% if @recipes.empty? %>
 <section>
   <h1 class='head'>Public Recipes</h1>
   <p>There are no public recipes!</p>
   <%= link_to 'Back', users_path %>
 </section>
<% else %>
  <section>
    <br />
    <h1 class='head'>Public Recipes</h1>

    <br /><br />
      <% @recipes_data.each do |data| %>
        <div class='public_cont'>
          <div class='public_cont_left' >
            <%= data[:recipe].name %>  
            <br /> <br /> <br /> 
            By: <%= data[:recipe].user.name %>
          </div>

          <div class='public_cont_right'>
            Total food items:<%= data[:total_items] %>
            <br /> <br /> 
            Total price: <%= data[:total_price] %>
          </div>
        </div>
      <% end %>

    <%= link_to 'Back', users_path %>
</section>
<% end %>
