
<h1>Create Recipe</h1>
<%= form_with(model: @recipe, url: recipes_path(current_user), method: :post) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br>

  <%= form.label :preparation_time %>
  <%= form.number_field :preparation_time %> <br>

  <%= form.label :cooking_time %>
  <%= form.number_field :cooking_time %> <br>

  <%= form.label :description %>
  <%= form.text_area :description %><br>

  <%= form.label :public %>
  <%= form.check_box :public %> <br>
  
  <%= form.submit 'Create recipe' %>  
<% end %>

<%= link_to 'Back', recipes_path %>

