<section>
  <br />
  <h1 class='head'>Recipe: <i> <%= @recipe.name %> </i></h1>

  <br />
  <div class='recipe_show'>
    preparation time: <%= @recipe.preparation_time %>
    <% if @recipe.public %>
      <div class='public'> <%= button_to 'Public', toggle_public_recipe_path(@recipe), method: :patch, class: 'button' %> : <%= @recipe.public %> </div>
    <% else %>
      <div class='public'> <%= button_to 'Public', toggle_public_recipe_path(@recipe), method: :patch, class: 'button' %> : <%= @recipe.public %> </div>
    <% end %>
  </div>

  <br />
  Cooking time : <%= @recipe.cooking_time %>
  <br /> <br />
  Description: <%= @recipe.description %>
 
  <br />
  <i> (By <%= @recipe.user.name %>) </i>
  <br /><br />

  <div class='recipe_buttons'>
    <%= link_to 'Add ingredient Quantity', new_recipe_recipe_food_path(@recipe), class:'recipe_but' %>
    <%= link_to 'Generate shopping list', new_recipe_shopping_list_path(@recipe), class:'recipe_but' %>
  </div>
  <br />
  <hr>

  <br /><br />
  <h2 class='head'> Required Ingredient Quantity </h2>
  <div class='recipe_f'>
    <ul class='recipe_food_cont'>
      <li class='recipe_food_items'>Date</li>
      <li class='recipe_food_items'>Food</li>
      <li class='recipe_food_items'>Quantity</li>
      <li class='recipe_food_items'>Value</li>
      <li class='recipe_food_items'>Actions</li>
    </ul>
    <% @recipe_foods.each do |recipe| %>
      <%= render partial: 'partials/recipe_food', locals: { recipe:recipe } %>
    <% end %>
  </div>

  <br /> <br />
  <%= link_to 'Back', recipes_path %>
</section>