<h1><%= @recipe.name %></h1>

<% if @recipe.public %>
  <%= button_to 'Public', toggle_public_recipe_path(@recipe), method: :patch %> 
<% else %>
  <%= button_to 'Public', toggle_public_recipe_path(@recipe), method: :patch %>
<% end %>
<%= @recipe.public %>

<%= @recipe.preparation_time %>
<%= @recipe.cooking_time %>
<%= @recipe.description %>

By <%= @recipe.user.name %>

<%= link_to 'Back', recipes_url %>
