<div class='recipe_left'>
  <%= recipe.name %>
  <br />
  <br />
  <%= link_to 'Show', recipe %>
  <%= link_to 'Delete', recipe, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>

<div class='recipe_right'>
  <%= recipe.description %>
  <br>
  <i>( By <%= recipe.user.name %> )</i>
</div>