<h1> <%= @user.name %>'s Public recipes </h1>

<% if @user_public_recipe.any? %>
  <ul>
    <% @user_public_recipe.each do |recipe| %>
        <%= link_to recipe.name, recipe_path(recipe) %>
        <%= recipe.preparation_time %>
        <%= recipe.cooking_time %>
        <%= recipe.description %>
    <% end %>
  </ul>
<% else %>
  <p>there are no public recipes for <%= @user.name %> </p>
<% end %>