<section>
  <h1>Add food</h1>
  <%= form_with(model: @food, url: food_path(@food), method: :put) do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: @food.name %>
    <br>
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit, placeholder: @food.measurement_unit %>
    <br>
    <%= form.label :price %>
    <%= form.number_field :price, placeholder: @food.price %>

    <%= form.submit 'Edit food' %>
  <% end %>
  <%= link_to 'back', foods_path %>
</section>