<fieldset>
  <legend> <h1>Generate ShoppingList</h1> </legend>  

  <%= form_with(model: @shopping_list, url: recipe_shopping_lists_path(@recipe), local: true) do  |form| %>
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.label :inventory_id, 'Choose an Inventory to use' %>

    <br /> <br />
    <%= form.collection_select :inventory_id, Inventory.all, :id, :name, include_blank: 'select inventory' %>
    <br /> <br />
    <%= form.submit  'Generate' %>
  <% end %>
</fieldset>
