<fieldset>
  <legend> <h1>Add ingredient</h1> </legend>

  <br /><br />
  <%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe), local: true) do |form| %>
    <%= form.hidden_field :recipe_id, value: @recipe.id %>

    <%= form.label :food_id, 'Select Food', hidden: true %>
    <%= form.collection_select :food_id, Food.all, :id, :name, include_blank: 'Select Food' %>

    <br /> <br />
    <%= form.label :quantity, hidden: true %>
    <%= form.text_field :quantity, class:'input', placeholder: 'Quantity' %>

    <br /> <br />
    <div class="actions">
      <%= form.submit 'Add ingredient', class: 'submit' %>
    </div>
  <% end %>

  <%= link_to 'Back', recipe_path(@recipe) %>
</fieldset>